<!-- Icons -->
<!-- https://www.svgrepo.com/collection/vscode-icons/7 -->

<!-- prettier-ignore -->
<%
/* Set icon to display */
let svgRoute = "";
switch (file.extension) {
  case ".xlsx":
  case ".ods":
    svgRoute = "../svgs/xlsxSvg.ejs"
    break;
  case ".docx":
  case ".doc":
  case ".odt":
    svgRoute = "../svgs/docSvg.ejs"
    break;
  case ".ppt":
  case ".pptx":
  case ".odp":
    svgRoute = "../svgs/pptSvg.ejs"
    break;
  case ".txt":
    svgRoute = "../svgs/txtSvg.ejs"
    break;
  case ".pdf":
    svgRoute = "../svgs/pdfSvg.ejs"
    break;
  default:
    svgRoute = "../svgs/genericFileSvg.ejs"
    break;
};

/* Format date */
options = {
  year: 'numeric',
  month: 'numeric',
  day: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
  hour12: false
};
const date = new Date(file.creationDate);
const dateDisplay = date.toLocaleTimeString(undefined, options);

/* Format size */
let displaySize = file.size;
let unit = "Bytes";
const gb = 1024 * 1024 * 1024;
const mb = 1024 * 1024;
const kb = 1024;
switch (true) {
  case (file.size >= gb):
    displaySize = displaySize / gb;
    unit = "GB";
    break;
  case (file.size >= mb):
    displaySize = displaySize / mb;
    unit = "MB";
    break;
  case (file.size >= kb):
    displaySize = displaySize / kb;
    unit = "KB";
    break;
};
%>

<article
  class="file-container"
  data-id="<%= file.id %>"
  data-type="file"
  data-name="<%= file.name %>"
  data-extension="<%=file.extension%>"
  data-date="<%= dateDisplay %>"
  data-size="<%= displaySize.toFixed(2) + " " + unit %>"
>
  <div class="file-name file-name-div">
    <div class="file-name text-wrap name-container">
      <%- include(svgRoute) %>
      <a class="overflow-hide file-card-link" href="/files/<%= file.id %>/file"><%= file.name %></a>
    </div>
    <div class="file-name">
      <button
        type="button"
        aria-label="More Options for <%= file.name %>"
        class="optionsBtn"
      >
        <%- include("../svgs/threeDots.ejs", {btnClass: "optionsBtn"}) %>
      </button>
    </div>
  </div>
  <p class="no-wrap"><%= dateDisplay %></p>
  <p class="no-wrap"><%= displaySize.toFixed(2) + " " + unit %></p>
  <p class="no-wrap"><%= file.extension %></p>
</article>
