<%
options = {
  year: 'numeric',
  month: 'numeric',
  day: 'numeric',
  hour: '2-digit',
  minute: '2-digit',
  hour12: false
}
const date = new Date(folder.creationDate);
const dateDisplay = date.toLocaleTimeString(undefined,options)
%>

<article
  class="file-container"
  data-id="<%= folder.id %>"
  data-type="folder"
  data-name="<%= folder.name %>"
  data-date="<%= dateDisplay %>"
>
  <div class="file-name-div file-name">
    <div class="file-name name-container">
      <%- include("../svgs/folderSvg.ejs") %>
      <a class="overflow-hide" href="/files/<%= folder.id %>/folder"> <%= folder.name %> </a>
    </div>
    <div class="file-name">
      <button
        type="button"
        aria-label="More Options for <%= folder.name %>"
        class="optionsBtn"
      >
        <%- include("../svgs/threeDots.ejs", {btnClass: "optionsBtn"}) %>
      </button>
    </div>
  </div>
  <p class="no-wrap overflow-hide"><%= dateDisplay %></p>
</article>
