<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/header.css" />
    <link rel="stylesheet" href="/styles/footer.css" />
    <link rel="stylesheet" href="/styles/files.css" />
    <script src="/scripts/filesUI.js" type="module" defer></script>
    <script src="/scripts/filesForms.js" type="module" defer></script>
    <title>FileSpace - Files</title>
  </head>
  <body>
    <%- include("./elements/header.ejs") %>
    <main>
      <h1><%= currentUser.name + ' ' + currentUser.lastName %></h1>
      <%- include("./elements/selectMenu.ejs") %>
      <%- include("./elements/deleteModal.ejs") %>
      <%- include("./elements/updateModal.ejs") %>

      <div class="first-line-div">
        <div id="currentFolderPath" class="path-container">
          <% for(let i = pathList.length - 1; i > -1; i--) { %> <%-
          include("./elements/navigationLink.ejs", {folder: pathList[i],
          showArrow: i > 0 }) %> <% } %>
        </div>
  
        <div class="btn-div-files">
          <button
            type="button"
            id="addFolderBtn"
            command="show-modal"
            commandfor="folderModal"
          >
            Add Folder
          </button>
          <button
            type="button"
            id="addFileBtn"
            command="show-modal"
            commandfor="fileModal"
          >
            Add File
          </button>
        </div>

      </div>
      <%- include("./elements/addModal.ejs", {currentFolderId: currentFolderId, type: "folder"}) %>
      <%- include("./elements/addModal.ejs", {currentFolderId: currentFolderId, type: "file"}) %>
      <section aria-label="Folder Contents" id="folderContentContainer">
        <!-- Titles -->
        <ul>
          <li>
            <div class="file-container header-row">
              <p>Name</p>
              <p>Upload Date</p>
              <p>Size</p>
              <p>Extension</p>
            </div>
          </li>

          <!-- Folders -->
          <% folders.forEach((folder) => { %>
          <li>
            <%- include("./elements/folderCard.ejs", {folder: folder}) %>
          </li>
          <% }) %>

          <!-- Files -->
          <% files.forEach((file) => { %>
          <li>
            <%- include("./elements/fileCard.ejs", {file : file}) %>
          </li>
          <% }) %>
        </ul>
      </section>
    </main>
    <%- include("./elements/footer.ejs") %>

    <% if (locals.error) { %>
    <script>
      console.error("<%= error %>");
    </script>
    <% } %>
  </body>
</html>
