<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/files.js" type="module" defer></script>
    <title>File Uploader</title>
  </head>
  <body>
    <%- include("./elements/header.ejs") %>
    <main>
      <h1>PlaceHolder</h1>
      <div>
        <button
          type="button"
          id="addFolderBtn"
          command="show-modal"
          commandfor="folderModal"
        >
          Add Folder
        </button>
        <button
          type="button"
          id="addFileBtn"
          command="show-modal"
          commandfor="fileModal"
        >
          Add File
        </button>
      </div>
      <%- include("./elements/addModal.ejs", {mainFolderId: mainFolderId, type: "folder"}) %>
      <%- include("./elements/addModal.ejs", {mainFolderId: mainFolderId, type: "file"}) %>
      <section>
        <% folders.forEach((folder) => { %>
        <div>
          <a href="/files/<%= folder.id %>"> <%= folder.name %> </a>
          <p><%= folder.creationDate %></p>
        </div>
        <% }) %>
        <% files.forEach((file) => { %>
        <div>
          <p><%= file.name %></p>
          <p><%= file.creationDate %></p>
        </div>
        <% }) %>
      </section>
    </main>
    <%- include("./elements/footer.ejs") %>
  </body>
</html>
