<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/scripts/files.js" defer></script>
    <title>File Uploader</title>
  </head>
  <body>
    <%- include("./elements/header.ejs") %>
    <main>
      <h1>PlaceHolder</h1>
      <div>
        <button
          type="button"
          id="addFolderBtn"
          command="show-modal"
          commandfor="folderModal"
        >
          Add Folder
        </button>
        <button
          type="button"
          id="addFileBtn"
          command="show-modal"
          commandfor="fileModal"
        >
          Add File
        </button>
      </div>
      <%- include("./elements/addModal.ejs", {userId: userId, type: "folder"}) %>
      <%- include("./elements/addModal.ejs", {userId: userId, type: "file"}) %>
      <section>
        <% folders.foreach((folder) => { %>
          <div>
            <p><%= folder.name %></p>
            <p><%= folder.creationDate %></p>
          </div>
       <% }) %>
      </section>
    </main>
    <%- include("./elements/footer.ejs") %>
  </body>
</html>
